<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <!-- development version, includes helpful console warnings -->
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src='https://cdn.jsdelivr.net/npm/vue'></script> -->
  <!-- Since there is already a rich ecosystem of ajax libraries    -->
  <!-- and collections of general-purpose utility methods, Vue core -->
  <!-- is able to remain small by not reinventing them. This also   -->
  <!-- gives you the freedom to use what you're familiar with.      -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="vue.js"></script>
</head>

<body>

  <div id='app-1'>
    {{ message }}
  </div>

  <div id='app-2'>
    <span v-bind:title='message'>
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <div id='app-3'>
    <span v-if='seen'>Now you see me</span>
  </div>

  <div id='app-4'>
    <ol>
      <li v-for='todo in todos'>
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id='app-5'>
    <p>{{ message }}</p>
    <button v-on:click='reverseMessage'>Reverse Message</button>
  </div>

  <div id='app-6'>
    <p>{{ message }}</p>
    <input v-model='message'>
  </div>

  <div id="app-7">
    <ol>
      <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>
  </div>

  <div id="app-8">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage1 }}"</p>
    <p>Method reversed message: "{{ reversedMessage2() }}"</p>
  </div>

  <div id="app-9">
    {{ fullName }}
  </div>

  <div id="app-10">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <p>{{ answer }}</p>
  </div>

  <div id="app-11" v-bind:class="{ active: isActive, 'text-danger': hasError }"></div>

  <div id="app-12" v-bind:class="classObject"></div>

  <div id="app-13" v-bind:class="classObject"></div>

  <div id="app-14" v-bind:class="[activeClass, errorClass]"></div>

  <div id="app-15">
    <div v-if="type === 'A'">A</div>
    <div v-else-if="type === 'B'">B</div>
    <div v-else-if="type === 'C'">C</div>
    <div v-else>Not A/B/C</div>
  </div>

  <!-- Type in the input and notice it doesn't change when loginType changes -->
  <div id="app-16">
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address">
    </template>
  </div>

  <!-- This time the two inputs are completely separate and do change (due to keys) -->
  <div id="app-17">
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address" key="email-input">
    </template>
  </div>

  <!-- This element will exist but it's css style will be to not display it-->
  <div id="app-18">
    <h1 v-show="true === false">Hello!</h1>
  </div>

  <div id="app-19">
    <ul>
      <li v-for="item in items" :key="item.message">
        {{ item.message }}
      </li>
    </ul>
  </div>

  <div id="app-20">
    <ul>
      <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
      </li>
    </ul>
  </div>

  <div id="app-21">
    <ul>
      <li v-for="n in evenNumbers">{{ n }}</li>
    </ul>
  </div>

  <div id="app-22">
    <ul v-for="(set, index) in sets">
      Set {{ index }}:
      <li v-for="n in even(set)">{{ n }}</li>
    </ul>
  </div>

  <div id="app-23">
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
  </div>

  <div id="app-24">
    <button v-on:click="greet">Greet</button>
  </div>

  <div id="app-25">
    <button v-on:click="say('hi')">Say hi</button>
    <button v-on:click="say('what')">Say what</button>
  </div>

  <div id="app-26">
    <button v-on:click="warn('Form cannot be submitted yet.', $event)">Submit</button>
  </div>

  <div id="app-27">
    <span>Message is:</span>
    <p style="white-space: pre-line">{{ message }}</p>
    <input v-model="message" placeholder="edit me">
  </div>

  <div id="app-28">
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
  </div>

  <div id="app-29">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
  </div>

  <div id="app-30">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
  </div>

  <div id="app-31">
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
  </div>

  <div id="app-32">
    <select v-model="selected" multiple>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
  </div>

  <div id="app-33">
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
  </div>

  <!-- Here we bind input values to static values -->
  <div id="app-34">
    <!-- `picked` is a string "a" when checked -->
    <input type="radio" v-model="picked" value="a">
    <span>Radio: {{ picked }}</span>
    <br>

    <!-- `toggle` is either true or false -->
    <input type="checkbox" v-model="toggle">
    <span>Checkbox: {{ toggle }}</span>
    <br>

    <!-- `selected` is a string "abc" when the first option is selected -->
    <select v-model="selected">
      <option value="abc">ABC</option>
    </select>
    <span>Selected: {{ selected }}</span>
    <br>
  </div>

  <!-- Here we bind input values to dynamic properties in Vue instance -->
  <div id="app-35">
    <!-- `picked` is a string "a" when checked -->
    <input type="radio" v-model="picked" v-bind:value="a">
    <span>Radio: {{ picked }}</span>
    <br>

    <!-- `toggle` is either true or false -->
    <input type="checkbox" v-model="toggle" v-bind:true-value="yes" false-value="no">
    <span>Checkbox: {{ toggle }}</span>
    <br>

    <!-- `selected` is a string "abc" when the first option is selected -->
    <select v-model="selected">
      <option v-bind:value=" { number: 123 }">123</option>
    </select>
    <span>Selected: {{ selected.number }}</span>
    <br>
  </div>
</body>
</html>
